@if ($indicador()) {
  <div class="p-4 shadow-md">
    <div class="card flex justify-center">
      <p-accordion value="1">
        <p-accordion-panel value="0">
          <p-accordion-header>
            <h1 class="text-3xl font-bold text-gray-600">
              {{ $indicador().titulo }}
              <i class="pi pi-info-circle text-blue-400"></i></h1
          ></p-accordion-header>
          <p-accordion-content>
            <p class="m-0">
              {{ $descripcionIndicador() }}
            </p>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
    <br />
    <div class="">
      <p-chart
        [data]="basicData"
        [options]="basicOptions"
        (onDataSelect)="select($event)"
      />
    </div>
  </div>

  <p-popover #op>
    <div class="flex flex-col gap-4 w-[25rem]">
      <div>
        <span
          class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
        >
          {{ $indicador().periodos[$nombrePeriodo()].codigoPeriodo }}</span
        >
        <span
          class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
          >Periodo:
          {{ $indicador().periodos[$nombrePeriodo()].nombrePeriodo }}</span
        >
        <span
          class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
        >
          {{ $indicador().titulo }}
          {{ $indicador().periodos[$nombrePeriodo()].valor }} %
        </span>
      </div>
    </div>
  </p-popover>
}
