@if ($indicador()) {
  <div class="p-4 shadow-md">
    <div class="card flex justify-center">
      <p-accordion value="1">
        <p-accordion-panel value="0">
          <p-accordion-header>
            <h1 class="text-3xl font-bold text-gray-600">
              {{ $titulo() }}
              <i class="pi pi-info-circle text-blue-400"></i></h1
          ></p-accordion-header>
          <p-accordion-content>
            <p class="m-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
    <br />
    <div class="">
      <p-chart
        type="bar"
        (onDataSelect)="select($event)"
        [data]="basicData"
        [options]="basicOptions"
      />
    </div>
  </div>

  <p-popover #op>
    <div class="flex flex-col gap-4 w-[25rem]">
      <div>
        <span
          class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
          >Periodo:
          {{ $indicador()[$nombrePeriodo()].descripcion }}
        </span>
        <span
          class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
          >TOTAL: {{ $indicador()[$nombrePeriodo()].cantidad }} estudiantes
        </span>
      </div>
    </div>
  </p-popover>
}
