@if ($carreraResource.isLoading()) {
  <div class="flex flex-col items-center justify-center h-screen">
    <img src="./espoch2.png" width="35" alt="sello de espoch" />
    <h1 class="text-3xl font-bold text-gray-600">
      Cargando información de la carrera...ss
    </h1>
  </div>
}

@if ($carreraResource.hasValue()) {
  <br /><br /><br />
  <p-tabs value="0" scrollable>
    <p-tablist>
      <ng-template #previcon>
        <i class="pi pi-minus"></i>
      </ng-template>
      <p-tab value="0" class="flex items-center !gap-2 IndicadorAca">
        <p-avatar
          label="🧠"
          [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
          shape="circle"
        />
        <span class="font-bold whitespace-nowrap">Indicadores Académicos</span>
      </p-tab>
      <p-tab value="1" class="flex items-center !gap-2 IndicadorCal">
        <p-avatar
          label="🔝"
          [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
          shape="circle"
        />
        <span class="font-bold whitespace-nowrap">Indicadores de Calidad</span>
      </p-tab>

      <ng-template #nexticon>
        <i class="pi pi-plus"></i>
      </ng-template>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <div
          class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-5 max-w-[1920px] mx-auto"
        >
          @for (
            indicador of $carreraResource.value().indicadores;
            let i = $index;
            track indicador.titulo
          ) {
            <!-- {{ indicador | json }} -->
            <app-c-chart
              [$indicador]="indicador"
              [$chart]="chartValue()"
              [$type]="1"
              [$descripcionIndicador]="descripcionIndicadores()[i]"
            />
          }

          @if ($TituladosResource.hasValue()) {
            <!-- {{ $TituladosResource.value().data | json }} -->

            <app-c-chart-anios
              [$chart]="chartValue()"
              [$indicador]="$TituladosResource.value().data"
              [$descripcionIndicador]="descripcionIndicadores()[3]"
            />
          }
          @if ($MatriculadosResource.hasValue()) {
            <app-c-chart-periodos
              [$chart]="chartValue()"
              [$titulo]="'Número de matriculados'"
              [$indicador]="$MatriculadosResource.value().data"
              [$descripcionIndicador]="descripcionIndicadores()[4]"
            />
          }

          @if ($AdmitidosResource.hasValue()) {
            <app-c-chart-periodos
              [$chart]="chartValue()"
              [$titulo]="'Número de admitidos'"
              [$indicador]="$AdmitidosResource.value().data"
              [$descripcionIndicador]="descripcionIndicadores()[5]"
            />
          }
        </div>

        <br />
        @if ($carreraResource.hasValue()) {
          <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
            <div
              class="col-span-1 md:col-span-2 rounded-2xl border-gray-100 border-1 bg-linear-to-tr from-gray-50 to-gray-50"
            >
              <span
                class="font-medium text-surface-900 dark:text-surface-0 block mx-auto my-2 text-center"
                >RESUMEN POR PERIODOS</span
              >
              <app-c-table-resumen-indicadores [graduados]="$resumen()" />
            </div>
            <div
              class="col-span-1 md:col-span-1 primary rounded-2xl border-gray-100 border-1 bg-linear-to-tr from-gray-50 to-gray-50"
            >
              <span
                class="font-medium text-surface-900 dark:text-surface-0 block mx-auto my-2 text-center"
              >
                RESUMEN DE NÚMERO DE GRADUADOS POR AÑOS
              </span>
              @if ($TituladosResource.hasValue()) {
                <app-c-table-resumen-graduados
                  [graduados]="$TituladosResource.value()!.data || []"
                />
              }
            </div>
          </div>
        }
      </p-tabpanel>
      <p-tabpanel value="1">
        <div
          class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-5 max-w-[1920px] mx-auto"
        >
          @for (
            indicador of $CalidadData.value()?.data;
            let i = $index;
            track indicador.titulo
          ) {
            <!-- {{ indicador | json }} -->
            <app-c-chart-calidad
              [$indicador]="indicador"
              [$chart]="chartValue()"
              [$type]="1"
              [$descripcionIndicador]="indicador.descripcion"
            />
          } @empty {
            <div
              class="flex flex-col w-full items-center justify-center my-20 md:p-5"
            >
              <img src="./espoch2.png" width="35" alt="" />
              <h1 class="text-3xl font-bold text-gray-600">
                No se encontraron resultados para la carrera
              </h1>
            </div>
          }
        </div>

        <!-- {{ $CalidadData.value() | json }} -->
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

  <div class="relative">
    <div
      class="fixed top-0 right-0 left-0 z-1000 py-2 bg-white text-gray-700 text-base font-bold text-center shadow-md"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <img src="./espoch2.png" width="35" alt="" />
          <div class="mx-5">
            <h1 class="text-2xl">
              {{ $carreraResource.value().nombreCarrera }}
            </h1>
          </div>
        </div>
        <div class="card flex justify-center mx-5">
          <p-select
            [options]="graficos()"
            [(ngModel)]="selectedGrafica"
            optionLabel="name"
            placeholder="Seleccione el tipo de gráfico"
            class="w-full md:w-56 tipo"
            [showClear]="true"
            changeOnBlur="true"
            (ngModelChange)="onChangeGrafica($event)"
          />
        </div>
      </div>
    </div>
  </div>
} @else {
  <div
    class="flex flex-col items-center justify-center h-screen p-2 text-center"
  >
    <img src="./espoch2.png" width="35" alt="" />
    <h1 class="text-3xl font-bold text-gray-600">
      No se encontraron resultados para la carrera
    </h1>
  </div>
}
